#root {
  width: 100%;
}

.desktop-container {
  display: grid;
  grid-template-columns: 50% 50%;
  background-image: linear-gradient(180deg,
      #e02394 0%,
      #ae1d86 29.17%,
      #330d65 100%);
}

.desktop-img {
  opacity: 0.8;
  filter: drop-shadow(8px 0px 15px rgba(0, 0, 0, 0.25));
  width: 100%;
  height: 100%;
}

.sign-up-container {
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 5%;
}

.logo {
  width: 60%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.sign-up-form {
  width: 60%;
  background-color: rgba(50, 13, 101, 0.8);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 10%;
}

.sign-up-title {
  color: #ffffff;
}

.user-name {
  color: #ffffff;
}

.email-address {
  color: #ffffff;
}

.error-content {
  display: none;
}

#errorContent {
  color: #E02394;
  font-size: 80%;
  margin-top: 10%;
  margin-bottom: 10%;
}

.input-email {
  width: 90%;
  padding: 1%;
  border-radius: 5px;
  opacity: 0.8;
}

.password {
  color: #ffffff;
}

.input-password {
  width: 90%;
  padding: 1%;
  border-radius: 5px;
  opacity: 0.8;
}

.line {
  background-color: #8a8a8a;
  height: 2px;
  width: 80%;
  margin: 10%;
}

.log-in-google {
  padding: 5%;
  font-size: 80%;
  border-radius: 10px;
  border-style: none;
}

.sign-up-button {
  width: 60px;
  height: 60px;
  background: rgba(255, 255, 255, 0.5);
  border-style: none;
  border-radius: 50%;
  margin-top: -5%;
}

.sign-up-button:hover {
  background: rgba(0, 0, 0, 0.5);
}

.arrow {
  width: 100%;
}

.bottom-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 10%;
}

.bottom-text {
  color: #ffffff;
  font-size: 70%;
  margin-right: 5px;
}

.log-in-text {
  color: #ffffff;
  font-weight: bold;
  font-size: 70%;
  text-decoration: none;
  background: none;
  border: none;
}

.log-in-text:hover {
  color: rgba(0, 0, 0, 0.5);
}

/* MEDIA QUERIES */

/* Versión Escritorio */
@media (max-width: 1200px) {
  /* .sign-up-container {
      display: grid;
      grid-template-columns: 50% 50%;
  } */
}

/* Versión Tableta */
@media (min-width: 535px) and (max-width: 824px) {
  .desktop-container {
    display: flex;
  }

  .sign-up-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .sign-up-form {
    width: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .desktop-img {
    display: none;
  }

  .logo {
    width: 50%;
  }
}

/* Versione Movil */
@media (min-width: 200px) and (max-width: 534px) {
  .desktop-container {
    display: flex;
  }

  .sign-up-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .sign-up-form {
    width: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .desktop-img {
    display: none;
  }
}
